﻿
@{
    ViewData["Title"] = Model.Id == 0 ? "طراحی کارت جدید" : "ویرایش کارت";
}

@model GalleryMaker._1.DAL.Project


<link href="~/wwwroot/lib/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />
<link href="~/wwwroot/lib/jquery.contextMenu/jquery.contextMenu.css" rel="stylesheet" />
<link href="~/wwwroot/lib/roundSlider/roundslider.css" rel="stylesheet" />
@*<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
@section scripts{


    <script src="~/wwwroot/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="~/wwwroot/lib/resizable-rotation.patch.js"></script>
    <script src="~/wwwroot/lib/jquery.contextMenu/jquery.ui.position.js"></script>
    <script src="~/wwwroot/lib/jquery.contextMenu/jquery.contextMenu.js"></script>
    <script src="~/wwwroot/lib/html2canvas/html2canvas.js"></script>
    <script src="~/wwwroot/lib/FileSaver/FileSaver.js"></script>
    <script src="~/wwwroot/lib/roundSlider/roundslider.js"></script>
    <script src="~/wwwroot/gallery_index.js"></script>
    <script>


        var api =
        {
            modalIsShown:false,
            saveToServer: function() {
                if (@Model.Id == 0 && !api.modalIsShown ) {

                    $("#projectNameModal").modal("show");
                    api.modalIsShown = true;
                } else {
                    common.showLoading();
                    // $(".draggable").resizable('destroy');
                    common.removeAllSelected();

                    var name = ("@Model.Id" == 0) ? $("#projName").val() : "@Model.Name";
                    $.ajax({
                        url: '/Gallery/SaveLayout',
                        method: 'POST',
                        data: { id: "@Model.Id", htmlString: $('#mainPnl').html(), mainPnlCss: $('#mainPnl').attr('style'), Name: name },
                        success: function(res) {
                            //  $(".draggable").resizable({handles: 'n, e, s, w, ne, se, sw, nw'});
                            $("#projectNameModal").modal("hide");
                            common.hideLoading();

                            if (@Model.Id == 0) {
                                window.location.href = "/Gallery/Index/" + res.Id;
                                //$("#projectUlList").append('<li class="list-group-item"><a href="/Home/Index/' + res.Id + '">' + res.Name + ' </a></li>');
                            }
                        }
                    });
                }

            }

        }
    </script>
}

<div id="loadingPnl" style="text-align: center;
        position: fixed;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
        background: rgba(246, 246, 247, 0.96);
        padding-top: 20%;
        color: red;
        z-index: 1030;
    ">Please wait...</div>
<div id="mainContainer">

    <div class="tools">

        <div class="text-center" style="text-align:-webkit-center;display: table; background: gray; padding:5px;width: 100%;">

            <div class="pull-left">
                <button onclick="api.saveToServer()" class="btn btn-sm text-center" title="Save">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </button>

                <button onclick="helper.convertToCanvas()" class="btn btn-sm text-center" title="Export Image">
                    <span class="glyphicon glyphicon glyphicon-save-file"></span>
                </button>
            </div>
            
            <div  style="display: inline-flex;">
                <button onclick="text.makeNewText()" class="btn btn-sm  btn-warning btn-round">
                    <span class="glyphicon glyphicon-plus"></span> Text
                </button>

                <button data-toggle="modal" data-target="#imgSelectModal" class="btn btn-sm  btn-warning btn-round">
                    <span class="glyphicon glyphicon-plus"></span> Image
                </button>
            </div>

            <div class="pull-right">

                <button onclick="history2.undo()" class="btn btn-sm text-center" title="undo"
                        data-action="undo" disabled>
                    <span class="glyphicon  glyphicon-arrow-left"></span>
                </button>

                <button onclick="history2.redo()" class="btn btn-sm text-center" title="redo"
                        data-action="redo" disabled>
                    <span class="glyphicon  glyphicon-arrow-right"></span>
                </button>

                <div class="seperator btn"></div>

                <button onclick="mainPnl.ZoomIn()" class="btn btn-sm text-center ">
                    <span class="glyphicon  glyphicon-zoom-in"></span>
                </button>

                <button onclick="mainPnl.ZoomOut()" class="btn btn-sm text-center">
                    <span class="glyphicon  glyphicon-zoom-out"></span>
                </button>

            </div>

        </div>

        <div id="selectedElmConfigDiv" style="overflow: auto; height: 42px; background: #cccccc; padding: 0 5px; text-align: left; width: 100%; ">
            <!--mainpnl control-->
            <div id="menu1" style="">
                <ul >
                    <li class="text-center">
                        Background
                        <input type="color" oninput="$('#mainPnl').css('background-color',$(this).val())" data-terget="mainPnl-bgColor" />
                    </li>
                </ul>
            </div>

            <!--image control-->
            <div id="imageCtrlDiv" style="display: none;">

                <ul>
                    <li>
                        <button onclick="common.bringFront()" class="btn btn-sm text-center no-radius">
                            <span class="glyphicon  glyphicon glyphicon-oil"></span>
                            به جلو
                        </button>
                    </li>
                    <li>
                        <button onclick="common.sendToBack()" class="btn btn-sm text-center ">
                            <span class="glyphicon glyphicon-sort-by-attributes"></span>
                            به عقب
                        </button>
                    </li>
                    <li><div class="pull-right" id="imgRotator"></div></li>
                    <li>
                        <label class="pull-left badge" data-label="background-size">Zoom: 100</label>
                        <br />
                        <input type="range" min="50" max="250" step="1" value="100" data-prop='background-size' class="pull-left" style="margin: -4px 0 0 0; width: 240px;">

                    </li>
                </ul>
            </div>

            <!--text control-->
            <div id="textCtrlDiv" class="text-center" style="display: none; text-align: -webkit-center;">
                <ul id="ulTextControl">
                    <li style="float: left;">
                        <div id="textRotator"></div>
                    </li>
                    <li style="float: left;">
                        ForeColor<br />
                        <input type="color" id="fontColorBtn" oninput="$(sharedObject.selectedelement).css('color',$(this).val())" />
                    </li>
                    <li style="">
                        Background Color<br />
                        <input type="color" id="bgColorBtn" oninput="$(sharedObject.selectedelement).css('background-color',$(this).val())" />

                    </li>
                    <li style="float: left;">
                        <select class="btn text-center btn-block btn-default" id="fontSizeBtn">
                            <option value="10px">10px</option>
                            <option value="11px">11px</option>
                            <option value="12px">12px</option>
                            <option value="13px">13px</option>
                            <option value="14px">14px</option>
                            <option value="15px">15px</option>
                            <option value="16px">16px</option>
                            <option value="17px">17px</option>
                        </select>
                    </li>
                    <li style="float: left;">
                        <div class="btn-group btn-group-sm">
                      
                                <button type="button" class="btn btn-primary" data-prop="text-align" data-value="left">
                                    <span class="glyphicon glyphicon-align-left"></span>
                                </button>
                      
                                <button type="button" class="btn btn-primary" data-prop="text-align" data-value="center">
                                    <span class="glyphicon glyphicon-align-center"></span>
                                </button>
                          
                       
                                <button type="button" class="btn btn-primary" data-prop="text-align" data-value="right">
                                    <span class="glyphicon glyphicon-align-right"></span>
                                </button>
                           
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="row " id="drawingPnl" style="border:1px solid greenyellow; background: white; min-height: 80vh; margin: 0px;">

         
                <div class="row" id="mainPnl"
                     style="position: absolute; overflow: hidden; background: white; width: 958px; z-index: 0; height: 448px; box-shadow: -3px 1px 35px -3px rgba(0, 0, 0, 0.75); left: 24px; top: 50px;@Model.MainPnlCss">
                    @Html.Raw(Model.HtmlString)
                </div>
          

  
    </div>



</div>


<!--project name Modal -->
<div id="projectNameModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">  &nbsp;</h4>
            </div>
            <div class="modal-body">
                <label for="projName">Card Name </label>
                <input type="text" id="projName" class="form-control" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default " data-dismiss="modal">cancle</button>
                <button type="button" class="btn btn-success " id="changeProjectNameAndSave" >OK</button>

            </div>
        </div>

    </div>
</div>

<!--imgSelectModal text Modal -->
<div id="imgSelectModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">  &nbsp;</h4>
            </div>
            <div class="modal-body">
                @{Html.RenderPartial("ImageUploader");}
                <ul class="list-group" id="projectUlList">
                    <li class="list-group-item">

                        @foreach (var p in (List<string>)ViewData["SlidShowImages"])
                        {

                            <img src="@p" style="width: 50px; height: 50px; margin: 1px; z-index: 1;" class="uploadedImgs"
                                 data-trigger="hover"
                                 data-toggle="popover" data-content="" />

                        }
                    </li>
                </ul>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default " data-dismiss="modal">Cancel</button>

            </div>
        </div>

    </div>
</div>


<!--label text Modal -->
<div id="labelTextModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">  &nbsp;</h4>
            </div>
            <div class="modal-body">
                Text:
                <textarea id="labelTextInput" class="form-control" style="direction: rtl;"></textarea>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-success" id="labelTextChangeBtn">OK</button>
                <button type="button" class="btn btn-default " data-dismiss="modal">Cancel</button>

            </div>
        </div>

    </div>
</div>




<style>
    /*  */


    /*--------------------------------------------------------------------- */
    .text {
        z-index: 100;
        /*   -webkit-box-shadow: -3px 1px 35px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -3px 1px 35px -3px rgba(0, 0, 0, 0.75);
        box-shadow: -3px 1px 35px -3px rgba(0, 0, 0, 0.75);*/
        /*direction: rtl;*/
        position: absolute;
    }

        .text > label {
            padding: 10px 10px;
            direction: rtl;
        }


    .draggable {
        cursor: move !important;
    }

    .imgCard {
        height: 200px;
        width: 250px;
        -moz-min-width: 50px;
        -ms-min-width: 50px;
        -o-min-width: 50px;
        -webkit-min-width: 50px;
        min-width: 50px;
        min-height: 50px;
        cursor: pointer;
        margin: 5px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        background-repeat: no-repeat;
        z-index: 100;
        position: absolute;
        /*-webkit-box-shadow: -3px 1px 35px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -3px 1px 35px -3px rgba(0, 0, 0, 0.75);
        box-shadow: -3px 1px 35px -3px rgba(0, 0, 0, 0.75);*/
        background-position: 50% 50%;
    }



        .text:hover, .imgCard:hover {
            /*border:1px white dashed;*/
            cursor: pointer;
        }

    .fitBg {
        /*background-size: 100%;*/
    }

    .btn-round {
        border-radius: 18px;
        min-width: 100px;
    }

    .colors-page {
        display: table;
    }

    .color {
        float: left;
        display: block;
        height: 25px;
        position: relative;
        width: 25px;
        margin-right: 2px;
        margin-bottom: 2px;
        border-radius: 6px;
        cursor: pointer;
    }


    .no-border {
        border: 0px !important;
    }

    .trans-bg {
        background-color: transparent !important;
    }

    .control-aside {
        position: absolute;
        background: white;
        width: 17%;
        left: 0px;
        bottom: 0px;
        top: 39px;
        min-width: 236px;
        max-width: 236px;
        border-right: 2px solid black;
    }

    .draw-pnl {
        position: absolute;
        background: lightgray;
        left: 0;
        bottom: 0px;
        top: 39px;
        right: 0px;
        overflow: hidden;
    }

    .seperator {
        background: white;
        width: 1px;
        height: 29px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding: 0px;
        border: 0px;
    }

    [data-action="undo"], [data-action="redo"] {
    }

    .activeEleman {
        border: 1px solid greenyellow;
        /*     -webkit-box-shadow: -3px 1px 35px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -3px 1px 35px -3px rgba(0, 0, 0, 0.75);
        box-shadow: -3px 1px 35px -3px rgba(0, 0, 0, 0.75);*/
    }

        .activeEleman img {
            opacity: .5;
        }
        /**/
        /**/
        /**/
        .activeEleman::before {
            /*      margin-left: 16px;
            margin-top: 16px;
            border-radius: 50px;
            display: block;
            content: "";
            width: 40px;
            height: 40px;
            position: absolute;
            border: 1px solid #bababa;
            background: white;
            -moz-box-shadow: inset 0px -1px 2px #000000;
            -webkit-box-shadow: inset 0px -1px 2px #000000;
            box-shadow: inset 0px -1px 2px #000000;*/
        }
</style>

<style>
    /* #drag {
            position: absolute;
            top: 200px;
            left: 100px;
        }

        #resize {
            background: #17DAFF;
            width: 400px;
            height: 200px;
            transform: rotate(20deg);
        }

         .ui-resizable-handle {
            background: #FF17DA;
            cursor: pointer;
        }

        .ui-resizable-se,
        .ui-resizable-sw,
        .ui-resizable-nw,
        .ui-resizable-ne {
            background: #FFDA17;
            z-index: 100001 !important;
        }

        .ui-resizable-se {
            width: 9px;
            height: 9px;
            right: -5px;
            bottom: -5px;
        }
    */
    .ui-resizable-handle {
        position: absolute;
        display: block;
        content: "";
        background: greenyellow;
        -moz-box-shadow: inset 0px -1px 2px #12b41c;
        -webkit-box-shadow: inset 0px -1px 2px #12b41c;
        box-shadow: inset 0px -1px 2px #12b41c;
    }

    .ui-resizable-ne,
    .ui-resizable-nw,
    .ui-resizable-sw,
    .ui-resizable-se {
        width: 16px;
        height: 16px;
        border: 1px solid #bababa;
        border-radius: 20px;
    }

    .ui-resizable-ne {
        top: 0px;
        right: 0px;
        border-radius: 0px;
        border: 0px solid #3db807;
        border-top: greenyellow;
        border-right: 3px solid greenyellow;
        background: transparent;
        border-style: groove;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .ui-resizable-nw {
        top: 0px;
        left: 0px;
        border-radius: 0px;
        border: 0px solid #3db807;
        border-top: 3px solid greenyellow;
        border-left: 3px solid greenyellow;
        background: transparent;
        border-style: groove;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .ui-resizable-se {
        bottom: 0px;
        right: 0px;
        border-radius: 0px;
        border: 0px solid #3db807;
        border-bottom: 3px solid greenyellow;
        border-right: 3px solid greenyellow;
        background: transparent;
        border-style: groove;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .ui-resizable-sw {
        bottom: 0px;
        left: 0px;
        border-radius: 0px;
        border: 0px solid #3db807;
        border-bottom: 3px solid greenyellow;
        border-left: 3px solid greenyellow;
        background: transparent;
        border-style: groove;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .ui-resizable-n {
        cursor: n-resize;
        top: 0px;
        left: 48%;
    }

    .ui-resizable-s {
        cursor: s-resize;
        bottom: 0px;
        left: 48%;
    }

    .ui-resizable-e {
        cursor: e-resize;
        right: 0px;
        top: 48%;
    }

    .ui-resizable-w {
        cursor: w-resize;
        left: 0px;
        top: 48%;
    }



    .ui-resizable-w, .ui-resizable-e {
        width: 5px;
        height: 16px;
        border: 0px solid #40e41e;
        /*-ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);border-radius: 20px;*/
    }

    .ui-resizable-s, .ui-resizable-n {
        width: 16px;
        height: 5px;
        border: 0px solid #40e41e;
        /*-ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);border-radius: 20px;*/
    }

    .ui-resizable-se,
    .ui-resizable-sw,
    .ui-resizable-nw,
    .ui-resizable-ne, .ui-resizable-w, .ui-resizable-s, .ui-resizable-e, .ui-resizable-n {
        z-index: 100001 !important;
    }
</style>