﻿
@{
    ViewData["Title"] = Model.Id == 0 ? "طراحی کارت جدید" : "ویرایش کارت";
}

@model GalleryMaker._1.DAL.Project


<link href="~/wwwroot/lib/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />
<link href="~/wwwroot/lib/jquery.contextMenu/jquery.contextMenu.css" rel="stylesheet" />
@*<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
@section scripts{


    <script src="~/wwwroot/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="~/wwwroot/lib/resizable-rotation.patch.js"></script>
    <script src="~/wwwroot/lib/jquery.contextMenu/jquery.ui.position.js"></script>
    <script src="~/wwwroot/lib/jquery.contextMenu/jquery.contextMenu.js"></script>
    <script src="~/wwwroot/lib/html2canvas/html2canvas.js"></script>
    <script src="~/wwwroot/lib/FileSaver/FileSaver.js"></script>
    <script type="text/javascript">

        //var sharedObject.selectedelement = null;
        var sharedObject = {
            selectedelement: null,
            colorMustChange: "background-color",
            elementOfColorPopOverId: ""

        }

        var common = {
            _tempStartSize: null,
            generalClickHandler: function() {

                $('[data-action]').on("click",
                    function() {

                        var action = $(this).attr("data-action");
                        var prop = $(this).attr("data-prop");
                        var target = $(this).attr("data-terget");

                        switch (action) {
                        case "close":
                            $("#" + target).css("display", "none");
                            break;

                        }

                    });
            },
            makeSelected: function(el) {
                console.log(el);
                common.removeAllSelected();
                $(el).addClass("activeEleman");
                $(el).resizable({
                    handles: 'ne, nw, se, sw, n, w, s, e',
                    start: function(event, ui) {
                        common._tempStartSize = $(el).css("width") + "**" + $(el).css("height") + "**" + $(el).css("left") + "**" + $(el).css("top");
                    },
                    stop: function(event, ui) {

                        //  if( $(el).is("label"))
                        if ($(el).hasClass("text"))
                            $(el).css("height", 'auto');

                        history2.add("resized", $(el), common._tempStartSize, $(el).css("width") + "**" + $(el).css("height"));
                        common._tempStartSize = null;
                    }

                });


                sharedObject.selectedelement = el;
            },
            removeAllSelected: function() {
                $(".testLdiv").removeClass("activeEleman");
                $(".testLdiv").css("overflow", "hidden");
                $(".testLdiv").children(0).css("opacity", 1);
                $(".text").removeClass("activeEleman");
                $("#imagesDiv").css("display", "none");

                common.deactiveAllResizable();
            },
            deactiveAllResizable: function() {
                try {
                    $(".testLdiv").resizable('destroy');
                } catch (e) {
                }
                try {
                    $(".testLdiv").children(0).draggable('destroy');
                } catch (e) {
                }
                try {
                    $(".text").resizable('destroy');
                } catch (e) {
                }
                try {
                    $().resizable('destroy');
                } catch (e) {
                }


                $(".ui-resizable-ne").remove();
                $(".ui-resizable-nw").remove();
                $(".ui-resizable-se").remove();
                $(".ui-resizable-sw").remove();
                $(".ui-resizable-n").remove();
                $(".ui-resizable-w").remove();
                $(".ui-resizable-e").remove();
                $(".ui-resizable-s").remove();
            },
            setActiveTab: function(tabId) {
                $(".nav.nav-tabs > li ").removeClass('active');
                $("a[data-target='#" + tabId + "']").parent().addClass('active');

                $(".tab-content > div").removeClass('active').removeClass('in');
                $("#" + tabId).addClass('active').addClass('in');

            },
            colorSelectEvent: function() {
                $(document).on('click',
                    ".color",
                    function() {
                        var bg = $(this).css("background-color");
                        //var forColor=$(this).attr("data-font-color");

                        if (sharedObject.selectedelement.hasClass('text') && sharedObject.colorMustChange == "background-color")
                            bg = (bg.substring(0, bg.length - 1) + ",0.74)").replace("rgb", "rgba");

                        history2.add(sharedObject.colorMustChange, $(sharedObject.selectedelement), $(sharedObject.selectedelement).css(sharedObject.colorMustChange), bg);
                        $(sharedObject.selectedelement).css(sharedObject.colorMustChange, bg);

                        //// $(sharedObject.selectedelement).css("color",forColor);
                        if (sharedObject.selectedelement.attr('id') == 'mainPnl') {
                            $('[data-terget="mainPnl"][data-action="changeBg"][data-prop="background-color"]').css('background-color', bg);

                        } else {

                            sharedObject.elementOfColorPopOverId.css("background-color", bg);
                        }
                    });
            },
            showLoading: function() {
                $("#loadingPnl").css("display", "block");
            },
            hideLoading: function() {
                $("#loadingPnl").css("display", "none");
            },
            getMaxIdOfElements: function() {
                var min = null, max = 1;
                $("#imagesDiv").each(function() {
                    var id = parseInt(this.id, 10);
                    if ((min === null) || (id < min)) {
                        min = id;
                    }
                    if ((max === null) || (id > max)) {
                        max = id;
                    }
                });
                return max + 1; //  return {min:min, max:max};
            },
            sendToBack: function(elm) {
                var e = elm != undefined ? elm : sharedObject.selectedelement;

                var zIndex = $(e).css("z-index");
                zIndex--;
                $(e).css("z-index", zIndex);
            },
            bringFront: function(elm) {
                var e = elm != undefined ? elm : sharedObject.selectedelement;

                var zIndex = $(e).css("z-index");
                zIndex++;
                $(e).css("z-index", zIndex);
            },
            remove: function(elm) {
                var e = elm != undefined ? elm : sharedObject.selectedelement;
                history2.add("del", $(e));
                $(e).remove();
                common.removeAllSelected();
            },
            textAlign: function() {
                $("[data-prop='text-align'").click(function() {

                    $(sharedObject.selectedelement).css("text-align", $(this).attr("data-value"));
                });
            },
            backgroundPosition: function() {
                $("[data-prop='background-position-x']").on('change input',
                    (function() {
                        // $(sharedObject.selectedelement).removeClass("fitBg");


                        $(sharedObject.selectedelement).css("background-position-x", $(this).val() + "%");
                        $(sharedObject.selectedelement).children(0).css("margin-left", -$(this).val() + "%");
                        $('[data-label="background-position-x"]').text($(this).val() + "%");
                    }));
                $("[data-prop='background-position-y']").on('change input',
                    (function() {
                        // $(sharedObject.selectedelement).removeClass("fitBg ");

                        $(sharedObject.selectedelement).css("background-position-y", $(this).val() + "%");
                        $(sharedObject.selectedelement).children(0).css("margin-top", -$(this).val() + "%");
                        $('[data-label="background-position-y"]').text($(this).val() + "%");
                    }));
            },
            fitBgOrNot: function() {
                $("[data-action='fitBg']").on('click',
                    (function() {
                        // var target =  $(this).attr('data-terget');

                        $(sharedObject.selectedelement).addClass("fitBg ");
                    }));

                $("[data-action='orginalBg']").on('click',
                    (function() {
                        //var target =  $(this).attr('data-terget');

                        $(sharedObject.selectedelement).removeClass("fitBg ");
                    }));
            },
            backgroundZoom: function() {

                $("[data-prop='background-size']").on('change',
                    (function() {


                        //card2.makeSelected($(sharedObject.selectedelement));

                    }));


                $("[data-prop='background-size']").on('input',
                    (function() {

                        // common.removeAllSelected();
                        try {
                            $(".testLdiv").resizable('destroy');
                        } catch (e) {
                        }

                        $(sharedObject.selectedelement).addClass("activeEleman");
                        $(sharedObject.selectedelement).css("overflow", "visible");
                        $(sharedObject.selectedelement).children(0).css("opacity", .5);
                        //$(sharedObject.selectedelement).children(0).css("opacity", ".3");
                        //var e= $(sharedObject.selectedelement).css("background-size");

                        // e =parseFloat( e.replace("%", ""));
                        var naturalWidth = $(sharedObject.selectedelement).attr("data-naturalWidth");
                        var naturalHeight = $(sharedObject.selectedelement).attr("data-naturalHeight");
                        var width = $(sharedObject.selectedelement).css("width").replace("px", "");
                        var height = $(sharedObject.selectedelement).css("height").replace("px", "");

                        var e = (naturalWidth / width);
                        // $("[data-prop='background-size']").attr("min", e);
                        e = parseFloat($(this).val());

                        e = parseInt(e);
                        if (e < 100) e += 100;

                        $(sharedObject.selectedelement).css("background-size", e + "%");
                        $(sharedObject.selectedelement).children(0).css("width", e + "%");
                        $('[data-label="background-size"]').text("% " + e + " زوم :");

                        $(sharedObject.selectedelement).attr("data-zoom", e);
                    }));

            },
            GetAngle: function(elm) {
                var el = $(elm); // document.getElementById(elm);
                //var st = window.getComputedStyle(el, null);
                //var cur = st.getPropertyValue("-webkit-transform") ||
                //         st.getPropertyValue("-moz-transform") ||
                //         st.getPropertyValue("-ms-transform") ||
                //         st.getPropertyValue("-o-transform") ||
                //         st.getPropertyValue("transform") ||
                //         "0";
                var cur = el.css("-webkit-transform") ||
                    el.css("-moz-transform") ||
                    el.css("-ms-transform") ||
                    el.css("-o-transform") ||
                    el.css("transform") ||
                    "(0,0,0,0)";

                var values = cur.split('(')[1];
                values = values.split(')')[0];
                values = values.split(',');
                var a = values[0];
                var b = values[1];
                var c = values[2];
                var d = values[3];

                var scale = Math.sqrt(a * a + b * b);

                // arc sin, convert from radians to degrees, round
                // DO NOT USE: see update below
                var sin = b / scale;
                var angle = Math.round(Math.asin(sin) * (180 / Math.PI));
                return angle;
            }


        }

        var text = {
            _tempStartLocation: null,
            makeSelected: function(elm) {
                common.makeSelected(elm);
                $("#fontColorBtn").css("background-color", elm.css("color"));
                $("#bgColorBtn").css("background-color", elm.css("background-color"));
                $("#fontSizeBtn").text(elm.css("font-size"));

                /*common.setActiveTab('menu2');*/
            },
            makeNewText: function() {
                var div = document.createElement("div"); // Create with DOM
                var txt3 = document.createElement("label"); // Create with DOM

                $(div).attr('id', common.getMaxIdOfElements());

                txt3.innerHTML = "برای تغییر متن دابل کلیک کنید.";
                div.appendChild(txt3);
                $("#mainPnl").append(div); // Append the new elements
                // sharedObject.selectedelement =txt3;
                text.init($(div));
                text.makeSelected($(div));
                history2.add("add", $(div));
            },
            init: function(txt) {

                txt.addClass('text').addClass('draggable').addClass("contextMenu")
                    .draggable({
                        start: function() {
                            text.makeSelected($(this));
                            txt._tempStartLocation = $(this).css("left") + "**" + $(this).css("top");
                        },
                        stop: function() {

                            history2.add("dragged", $(this), txt._tempStartLocation, $(this).css("left") + "**" + $(this).css("top"));
                            txt._tempStartLocation = null;
                        },
                        containment: "#mainPnl"
                    });

                $(document).on("dblclick",
                    ".text",
                    function() {
                        var txt = $(this).text();
                        sharedObject.selectedelement = $(this);
                        $("#labelTextInput").val(txt);
                        $("#labelTextModal").modal("show");

                        text.makeSelected($(this));
                    });

                $(document).on("click",
                    ".text",
                    function() {

                        window.sharedObject.selectedelement = $(this);
                        text.makeSelected($(this));


                    });

                $("#labelTextChangeBtn").click(function() {

                    var text = $("#labelTextInput").val();
                    $(sharedObject.selectedelement).children(0).text(text);
                    $("#labelTextModal").modal("hide");

                });


            },
            initSetting: function() {


                $(document).on('click',
                    "[ data-font-size]",
                    function() {
                        var bg = $(this).attr("data-font-size");
                        //alert(bg);
                        $(sharedObject.selectedelement).css("font-size", bg + "px");
                        sharedObject.elementOfColorPopOverId.text(bg + "px");
                    });


                $("#fontColorBtn").popover({
                    html: true,
                    trigger: 'focus',
                    content: function() {
                        sharedObject.colorMustChange = "color";
                        sharedObject.elementOfColorPopOverId = $("#fontColorBtn");
                        return "<div  style='width:255px;height:345px;overflow-y: scroll;' >" + $('.colors-page').html() + "<div/>";
                    }

                });
                $("#bgColorBtn").popover({
                    html: true,
                    trigger: 'focus',
                    content: function() {
                        sharedObject.colorMustChange = "background-color";
                        sharedObject.elementOfColorPopOverId = $("#bgColorBtn");
                        return "<div  style='width:255px;height:345px;overflow-y: scroll;' >" + $('.colors-page').html() + "<div/>";
                    }

                });

                $("#fontSizeBtn").popover({
                    html: true,
                    trigger: 'focus',
                    content: function() {
                        //sharedObject.  colorMustChange="background-color";
                        sharedObject.elementOfColorPopOverId = $("#fontSizeBtn");
                        return "<div  style='width:55px;height:345px;overflow-y: auto;' >" + $('#fontSize').html() + "<div/>";
                    }

                });


                text.contextMenu();
            },
            contextMenu: function() {
                $.contextMenu({
                    selector: '.text',
                    items: {
                        "sendToBack": { name: "برو عقب", icon: "" },
                        "bringFront": { name: "بیا جلو", icon: "" },
                        "sep2": "---------",
                        "delete": { name: "حذف", icon: "delete" },
                    },
                    callback: function(key, options) {
                        var m = "clicked: " + key;
                        //  window.console && console.log(m) || alert(m);
                        if (key === "sendToBack") {

                            var zIndex = $(this).css("z-index");
                            zIndex--;
                            $(this).css("z-index", zIndex);
                        } else if (key === "bringFront") {

                            var zIndex = $(this).css("z-index");
                            zIndex++;
                            $(this).css("z-index", zIndex);
                        } else if (key === "delete") {

                            history2.add("del", $(this), card2);
                            $(this).remove();

                        }

                    }
                });
            }


        }

        var card2 = {
            makeSelected: function(elm) {
                common.makeSelected(elm);
                common.setActiveTab('menu3');


                //$(elm).css("overflow",'visible');
                ////$(elm).children(0).css("opacity", ".3");

                var naturalWidth = parseFloat($(elm).children(0).css("width").replace("px", "")); //  $(elm).attr("data-naturalWidth");
                var naturalHeight = parseFloat($(elm).children(0).css("height").replace("px", "")); //  $(elm).attr("data-naturalHeight");
                var width = parseFloat($(elm).css("width").replace("px", ""));
                var height = parseFloat($(elm).css("height").replace("px", ""));
                var max = naturalWidth > width ? (naturalWidth / width) * 100 : 0;
                var max2 = naturalHeight > height ? ((naturalHeight / height) * 100) : 0;

                var zoom = parseFloat($(elm).attr("data-zoom")) || 100;
                $('[data-prop="background-size"]').val(zoom);
                $('[data-label="background-size"]').text("% " + zoom + " زوم :");

                $("[data-prop='background-position-x']").attr("max", Math.max(0, max - 100));
                $("[data-prop='background-position-y']").attr("max", Math.max(0, max2));


                var s1 = parseFloat($(elm).children(0).css("margin-left").replace("%", ""));
                var s2 = parseFloat($(elm).children(0).css("margin-top").replace("%", ""));
                $("[data-prop='background-position-x']").val(s1);
                $("[data-prop='background-position-y']").val(s2);
                $('[data-label="background-position-x"]').text(s1);
                $('[data-label="background-position-y"]').text(s2);

                //$("[data-prop='background-position-x']").attr("min",-naturalWidth-(s1/100*width));
                //$("[data-prop='background-position-y']").attr("min", -naturalHeight-(s2/100*height));
            },
            makeNewCard: function(img) {


                var naturalWidth = img.context.naturalWidth;
                var naturalHeight = img.context.naturalHeight;
                var bg = img.context.src;

                var div = document.createElement("div");
                var txt3 = document.createElement("div");
                $(txt3).attr("data-naturalWidth", naturalWidth);
                $(txt3).attr("data-naturalHeight", naturalHeight);

                var imgReal = document.createElement("img");
                $(imgReal)
                    .css('width', "100%") //naturalWidth
                    // .css('height',naturalHeight)
                    // .css("opacity",".3")
                    //.css("margin","-50% -50%")
                    .attr("src", bg);

                var id = common.getMaxIdOfElements();
                $(txt3).attr('id', id);

                if (bg != undefined) {
                    // $( txt3).css("background-image", "url('" + bg + "')");

                }

                $(txt3).append(imgReal);
                $(div).append(txt3);
                $("#mainPnl").append(div);
                card2.init($(div));
                history2.add("add", $(div));

                card2.makeSelected($(txt3));
            },
            _tempStartLocation: null,
            init: function(card) {

                card.children(0).addClass('testLdiv').addClass('fitBg') //.css("width", "250px");
                card
                    .addClass('draggable')
                    .addClass("contextMenu")
                    //
                    //.css("left","5px")
                    //.css("top","5px")
                    .css("position", "absolute")
                    //.resizable({handles: 'n, e, s, w, ne, se, sw, nw'})
                    .draggable({
                        /*containment: "#mainPnl"*/
                        start: function() {
                            card2.makeSelected($(this).children(0));
                            card2._tempStartLocation = $(this).css("left") + "**" + $(this).css("top");
                        },
                        stop: function() {

                            history2.add("dragged", $(this), card2._tempStartLocation, $(this).css("left") + "**" + $(this).css("top"));
                            card2._tempStartLocation = null;
                        }
                    });
                //.droppable({
                //    drop: function (event, ui) {

                //        var elm=$(ui.draggable).hasClass("testLdiv");
                //        if(!elm){
                //            //var src=ui.draggable.context.src;
                //            //$( this).css("background-image", "url(" + src + ")");
                //        }

                //    }});
                $(document).on("dblclick",
                    ".testLdiv",
                    function(e) {

                        common.deactiveAllResizable();
                        $(this).addClass("activeEleman");
                        $(this).css("overflow", "visible");
                        $(this).children(0).css("opacity", .5);

                        $(this).children(0).draggable({
                            drag: function() {
                                //if($(this).css("left"))
                                var left = $(this).css("left").replace("px", "");
                                var top = $(this).css("top").replace("px", "");
                                $('[data-prop="background-position-x"]').val(parseFloat(left));
                                $('[data-prop="background-position-y"]').val(parseFloat(top));

                                $('[data-label="background-position-x"]').text(left + "%");
                                $('[data-label="background-position-y"]').text(top + "%");
                            }
                        });

                        sharedObject.selectedelement = $(this); //.children(0);
                    });

                $(document).on("click",
                    ".testLdiv",
                    function(e) {
                        //if (sharedObject.selectedelement!=undefined)
                        //$("#" + sharedObject.selectedelement).resizable('disable').draggable('disable');


                        //if (e.target !== this)
                        //    return;

                        try {
                            $(this).children(0).draggable('destroy');
                        } catch (e) {
                        }

                        sharedObject.selectedelement = $(this); //.children(0);
                        $(this).css("overflow", "hidden");
                        // $(this).resizable();
                        card2.makeSelected($(this));

                        var top = parseInt($(this).parent().css("top").replace("px", "")) + 40;
                        var left = parseInt($(this).parent().css("left").replace("px", "")) + 173;
                        $("#imagesDiv").css("top", top + "px").css("left", left + "px").css("display", "block");
                        var angle = common.GetAngle(sharedObject.selectedelement);
                        $('[data-label="currentRotate"]').text(" درجه " + angle + "چرخش:");
                        $("#rotateBar").val(angle);


                    });
                card2.contextMenu();
            },

            contextMenu: function() {
                $.contextMenu({
                    selector: '.testLdiv',
                    items: {
                        "fitBg": { name: "پسزمینه استرج", icon: "" },
                        "orginalBg": { name: "پسزمینه به اندازه واقعی", icon: "" },
                        "sep2": "---------",
                        "sendToBack": { name: "برو عقب", icon: "" },
                        "bringFront": { name: "بیا جلو", icon: "" },
                        "sep2": "---------",
                        "delete": { name: "حذف", icon: "delete" },
                        //"quit": {name: "<input type='radio' />", icon: function(){
                        //    return 'context-menu-icon context-menu-icon-quit';
                        //}}
                    },
                    callback: function(key, options) {
                        var m = "clicked: " + key;
                        //  window.console && console.log(m) || alert(m);
                        if (key === "sendToBack") {

                            common.sendToBack($(this));
                        } else if (key === "bringFront") {

                            common.bringFront($(this));
                        } else if (key === "delete") {

                            history2.add("del", $(this).parent());
                            $(this).parent().remove();
                            common.removeAllSelected();
                        } else if (key === "fitBg") {
                            $(this).addClass("fitBg");
                        } else if (key === "orginalBg") {
                            $(this).removeClass("fitBg");
                        }
                    }
                });

                $('.contextMenu').on('click',
                    function(e) {
                        //console.log('clicked', this);
                    });
            }

        }

        var mainPnl = {
            makeSelected: function() {
                // common.removeAllSelected();
                common.makeSelected($("#mainPnl"));
                // common.setActiveTab('menu1');
            },
            initEvent: function() {

                $("#mainPnl").draggable({ /*containment: "#mainPnl2"*/
                    start: function() {
                        //mainPnl.makeSelected();
                    }
                });

                $("#mainPnl").droppable({
                    drop: function(event, ui) {

                        if ($(ui.draggable.context).hasClass("testLdiv")) {
                        } else if ($(ui.draggable.context).parent().hasClass("testLdiv")) {
                        } else if (ui.draggable.context.parentNode.id === $(this).attr("id")) {

                        } else {
                            var bg = ui.draggable.context.src;
                            var img = $(ui.draggable.context);


                            card2.makeNewCard(img);
                        }
                    }
                });

                $("#mainPnl").click(function(e) {
                    common.removeAllSelected();
                    //if ($(e.target).parent().hasClass("testLdiv"))
                    //    mainPnl.makeSelected();

                    if (e.target !== this)
                        return;

                    //mainPnl.makeSelected();
                });

                $("#mainPnl").dblclick(function(e) {
                    if (e.target !== this)
                        return;

                    mainPnl.makeSelected();
                    common.setActiveTab("menu1");
                });

                $('[data-terget="mainPnl"]').on("input change",
                    function() {

                        var action = $(this).attr("data-action");
                        var prop = $(this).attr("data-prop");
                        var target = $(this).attr("data-terget");
                        switch (action) {
                        case "resize":
                            $("#" + target).css(prop, $(this).val());
                            break;


                        }

                    });

                $('[data-action="changeBg"]').popover({
                    html: true,
                    trigger: 'focus',
                    content: function() {

                        var action = $(this).attr("data-action");
                        var prop = $(this).attr("data-prop");
                        var target = $(this).attr("data-terget");

                        sharedObject.selectedelement = $("#" + target);
                        sharedObject.colorMustChange = "background-color";


                        // var bg=$("#"+target).css("background-color");
                        return "<div  style='width:255px;height:345px;overflow-y: scroll;' >" + $('.colors-page').html() + "<div/>";
                    }


                });


            },
            currZoom: 1,
            ZoomIn: function() {

                mainPnl.currZoom += .05;
                $("#mainPnl").css("zoom", mainPnl.currZoom);
                $("#mainPnl").css("-moz-transform", "scale(" + mainPnl.currZoom + ")");

            },
            ZoomOut: function() {
                mainPnl.currZoom -= .05;
                $("#mainPnl").css("zoom", mainPnl.currZoom);
                $("#mainPnl").css("-moz-transform", "scale(" + mainPnl.currZoom + ")");
            }

        }


        var history2 = {
            _items: [],
            _undoItems: [],
            add: function(actionOrPropChanged, elment, fromValue, toValue) {

                history2._items.push(
                    {
                        actionOrPropChanged: actionOrPropChanged,
                        element: elment,
                        fromValue: fromValue,
                        toValue: toValue
                    });

                $('[data-action="undo"]').removeAttr('disabled');
            },
            undo: function() {
                if (history2._items.length == 0) return;
                var last = history2._items[history2._items.length - 1];

                history2._undoItems.push(last);

                switch (last.actionOrPropChanged) {
                case "add":
                    last.element.remove();

                    break;
                case "del":

                    $("#mainPnl").append($(last.element));
                    if ($(last.element).hasClass('testLdiv'))
                        card2.init($(last.element));
                    if ($(last.element).hasClass('text'))
                        text.init($(last.element));

                    break;
                case "dragged":

                    var start = last.fromValue.split("**");
                    var left = parseFloat(start[0]);
                    var top = parseFloat(start[1]);
                    $(last.element).css("left", left);
                    $(last.element).css("top", top);

                    break;
                case "resized":
                    var start1 = last.fromValue.split("**");
                    var width = parseFloat(start1[0]);
                    var height = parseFloat(start1[1]);
                    var left1 = parseFloat(start1[2]);
                    var top1 = parseFloat(start1[3]);
                    $(last.element).css("width", width);
                    $(last.element).css("height", height);
                    $(last.element).css("left", left1);
                    $(last.element).css("top", top1);
                    break;
                case "background-color":
                case "background-image":
                case "color":

                    $(last.element).css(last.actionOrPropChanged, last.fromValue);

                    break;
                }
                history2._items.splice(history2._items.length - 1, 1);
                $('[data-action="redo"]').removeAttr('disabled');
                if (history2._items.length == 0) $('[data-action="undo"]').attr('disabled', 'disabled');
            },
            redo: function() {
                if (history2._undoItems.length == 0) return;
                var last = history2._undoItems[history2._undoItems.length - 1];

                history2._items.push(last)
                switch (last.actionOrPropChanged) {
                case "add":

                    $("#mainPnl").append($(last.element));
                    if ($(last.element).hasClass('testLdiv'))
                        card2.init($(last.element));
                    if ($(last.element).hasClass('text'))
                        text.init($(last.element));

                    break;
                case "del":
                    last.element.remove();
                    break;
                case "dragged":
                    var start = last.toValue.split("**");
                    var left = parseFloat(start[0]);
                    var top = parseFloat(start[1]);
                    $(last.element).css("left", left);
                    $(last.element).css("top", top);
                    break;
                case "resized":
                    var start1 = last.toValue.split("**");
                    var width = parseFloat(start1[0]);
                    var height = parseFloat(start1[1]);
                    $(last.element).css("width", width);
                    $(last.element).css("height", height);
                    break;
                case "background-color":
                case "background-image":
                case "color":
                    $(last.element).css(last.actionOrPropChanged, last.toValue);

                    break;

                }
                history2._undoItems.splice(history2._undoItems.length - 1, 1);
                $('[data-action="undo"]').removeAttr('disabled');
                if (history2._undoItems.length == 0) $('[data-action="redo"]').attr('disabled', 'disabled');
            }
        }


        var api =
        {
            saveToServer: function() {

                // $(".draggable").resizable('destroy');
                common.removeAllSelected();

                var name = ("@Model.Id" == 0) ? $("#projName").val() : "@Model.Name";
                $.ajax({
                    url: '/Gallery/SaveLayout',
                    method: 'POST',
                    data: { id: "@Model.Id", htmlString: $('#mainPnl').html(), mainPnlCss: $('#mainPnl').attr('style'), Name: name },
                    success: function(res) {
                        //  $(".draggable").resizable({handles: 'n, e, s, w, ne, se, sw, nw'});
                        $("#projectNameModal").modal("hide");

                        if (@Model.Id == 0) {
                            window.location.href = "/Gallery/Index/" + res.Id;
                            //$("#projectUlList").append('<li class="list-group-item"><a href="/Home/Index/' + res.Id + '">' + res.Name + ' </a></li>');
                        }
                    }
                });
            }

        }


        //-------------------------------------------------------------------
        function ConvertToCanvas(btnExporttoimage) {
            common.removeAllSelected();
            html2canvas($("#mainPnl")[0],
                {
                    onrendered: function(canvas) {
                        //$("#mainPnl").css('overflow','visible');//.parentNode.style.overflow = 'hidden';
                        //// var dataUrl = canvas.toDataURL();
                        ////  window.open(dataUrl, "toDataURL() image", "width=800, height=800");
                        //////Canvas2Image.saveAsPNG(canvas);

                        $(".txt").css('text-align', 'left');
                        canvas.toBlob(function(blob) {
                            saveAs(blob, "Untitled.png");
                        });
                    }

                });
            //.then(function (canvas) {


            //    //var base64 = canvas.toDataURL();


            //    //var a = document.createElement('a');

            //    //a.download = "Untitled.png";
            //    //a.href =base64;
            //    //a.dataset.downloadurl = ['image/png', a.download, a.href].join(':');
            //    //a.click();

            //    ////$(".txt").css('direction','ltr');
            //    //// $("#mainPnl").css('overflow','auto');

            //});
        }


        function Save() {
            if (@Model.Id == 0) {

                $("#projectNameModal").modal("show");
            } else {
                api.saveToServer();
            }

        }


        $(function() {

            text.init($(".text"));
            text.initSetting();
            card2.init($(".testLdiv").parent());
            mainPnl.initEvent();
            common.colorSelectEvent();
            common.textAlign();
            common.backgroundPosition();
            common.fitBgOrNot();
            common.backgroundZoom();

            $(".uploadedImgs").draggable({
                helper: 'clone',
                revert: 'invalid', // revert: true,
            });
            $(document).on('click',
                ".uploadedImgs",
                function() {

                    var newBg = $(this).attr("src");

                    history2.add("background-image", sharedObject.selectedelement, $(sharedObject.selectedelement).css("background-image"), "url('" + newBg + "')");

                    $(sharedObject.selectedelement).css("background-image", "url('" + newBg + "')");

                    // $("#imagesDiv").css("display", "none");
                    // $("#" + sharedObject.selectedelement).resizable('disable').draggable('disable');

                });
            $('.uploadedImgs').popover({
                html: true,
                content: function() {
                    var bg = $(this).attr("src");
                    return "<img src='" + bg + "' style='width:450px;' />";
                }
            });


            $("#rotateBar").on("input change",
                function() {
                    var angle = $("#rotateBar").val();

                    $(sharedObject.selectedelement).css("-ms-transform", "rotate(" + angle + "deg)");
                    $(sharedObject.selectedelement).css("-webkit-transform", "rotate(" + angle + "deg)");
                    $(sharedObject.selectedelement).css("transform", "rotate(" + angle + "deg)");
                    $('[data-label="currentRotate"]').text(" درجه " + angle + "چرخش:");

                });


            $("#changeProjectNameAndSave").click(function() {

                api.saveToServer();

            });


            common.hideLoading();

            $('#drag').draggable();
            $('#resize').resizable({
                handles: 'ne, nw, se, sw, n, w, s, e'
            });


            //$(document).ready(function() {
            //    html2canvas($("#wrapper"), {
            //        onrendered: function (canvas) {
            //            theCanvas = canvas;

            //            document.body.appendChild(canvas);

            //            canvas.toBlob(function (blob) {
            //                saveAs(blob, "Dashboard.png");
            //            });
            //        }
            //    });
            //});

        });
    </script>

}
<style>
    /*  */


    /*--------------------------------------------------------------------- */
    .text {
        z-index: 100;
        /*   -webkit-box-shadow: -3px 1px 35px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -3px 1px 35px -3px rgba(0, 0, 0, 0.75);
        box-shadow: -3px 1px 35px -3px rgba(0, 0, 0, 0.75);*/
        /*direction: rtl;*/
        position: absolute;
    }

        .text > label {
            padding: 10px 10px;
            direction: rtl;
        }


    .draggable {
        cursor: move !important;
    }

    .testLdiv {
        height: 200px;
        width: 250px;
        -moz-min-width: 50px;
        -ms-min-width: 50px;
        -o-min-width: 50px;
        -webkit-min-width: 50px;
        min-width: 50px;
        min-height: 50px;
        cursor: pointer;
        margin: 5px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        background-repeat: no-repeat;
        z-index: 100;
        position: absolute;
        /*-webkit-box-shadow: -3px 1px 35px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -3px 1px 35px -3px rgba(0, 0, 0, 0.75);
        box-shadow: -3px 1px 35px -3px rgba(0, 0, 0, 0.75);*/
        background-position: 50% 50%;
    }



        .text:hover, .testLdiv:hover {
            /*border:1px white dashed;*/
            cursor: pointer;
        }

    .fitBg {
        /*background-size: 100%;*/
    }

    .btn-round {
        border-radius: 18px;
        min-width: 100px;
    }

    .colors-page {
        display: table;
    }

    .color {
        float: left;
        display: block;
        height: 25px;
        position: relative;
        width: 25px;
        margin-right: 2px;
        margin-bottom: 2px;
        border-radius: 6px;
        cursor: pointer;
    }


    .no-border {
        border: 0px !important;
    }

    .trans-bg {
        background-color: transparent !important;
    }

    .control-aside {
        position: absolute;
        background: white;
        width: 17%;
        left: 0px;
        bottom: 0px;
        top: 39px;
        min-width: 236px;
        max-width: 236px;
        border-right: 2px solid black;
    }

    .draw-pnl {
        position: absolute;
        background: lightgray;
        left: 234px;
        bottom: 0px;
        top: 39px;
        right: 0px;
        overflow: hidden;
    }

    .seperator {
        background: white;
        width: 1px;
        height: 39px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding: 0px;
        border: 0px;
    }

    [data-action="undo"], [data-action="redo"] {
    }

    .activeEleman {
        /*     -webkit-box-shadow: -3px 1px 35px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -3px 1px 35px -3px rgba(0, 0, 0, 0.75);
        box-shadow: -3px 1px 35px -3px rgba(0, 0, 0, 0.75);*/
    }

        .activeEleman img {
            opacity: .5;
        }
        /**/
        /**/
        /**/
        .activeEleman::before {
            /*      margin-left: 16px;
            margin-top: 16px;
            border-radius: 50px;
            display: block;
            content: "";
            width: 40px;
            height: 40px;
            position: absolute;
            border: 1px solid #bababa;
            background: white;
            -moz-box-shadow: inset 0px -1px 2px #000000;
            -webkit-box-shadow: inset 0px -1px 2px #000000;
            box-shadow: inset 0px -1px 2px #000000;*/
        }
</style>
<style>
    input[type=range] {
        -webkit-appearance: none;
        margin: 10px 0;
        width: 100%;
        background-color: transparent;
    }

        input[type=range]:focus {
            outline: none;
        }

        input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 20px;
            cursor: pointer;
            /*animate: 0.2s;*/
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
            background: rgba(127,127,127,.8);
            border-radius: 25px;
            border: 1px solid rgba(186, 186, 186, 0.80);
            padding-left: 7px;
            padding-right: 7px;
        }

        input[type=range]::-webkit-slider-thumb {
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
            border: 0px solid #000000;
            height: 18px;
            width: 8px;
            border-radius: 0px;
            background: #ffffff;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: 0px;
        }

        input[type=range]:focus::-webkit-slider-thumb {
            background: #6363ff;
            border-color: white;
        }

        input[type=range]::-moz-range-track {
            width: 100%;
            height: 20px;
            cursor: pointer;
            /*animate: 0.2s;*/
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
            background: rgba(127,127,127,.8);
            border-radius: 25px;
            border: 1px solid rgba(186, 186, 186, 0.80);
        }

        input[type=range]::-moz-range-thumb {
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
            border: 0px solid #000000;
            height: 18px;
            width: 18px;
            border-radius: 10px;
            background: #ffffff;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: 0px;
        }

        input[type=range]::-ms-track {
            width: 100%;
            height: 12.8px;
            cursor: pointer;
            /*animate: 0.2s;*/
            background: transparent;
            border-color: transparent;
            border-width: 39px 0;
            color: transparent;
        }

        input[type=range]::-ms-fill-lower {
            background: #ac51b5;
            border: 0px solid #000101;
            border-radius: 50px;
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        }

        input[type=range]::-ms-fill-upper {
            background: #ac51b5;
            border: 0px solid #000101;
            border-radius: 50px;
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        }

        input[type=range]::-ms-thumb {
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
            border: 0px solid #000000;
            height: 20px;
            width: 39px;
            border-radius: 7px;
            background: #65001c;
            cursor: pointer;
        }

        input[type=range]:focus::-ms-fill-lower {
            background: #ac51b5;
        }

        input[type=range]:focus::-ms-fill-upper {
            background: #ac51b5;
        }
</style>
<style>
    /* #drag {
            position: absolute;
            top: 200px;
            left: 100px;
        }

        #resize {
            background: #17DAFF;
            width: 400px;
            height: 200px;
            transform: rotate(20deg);
        }

         .ui-resizable-handle {
            background: #FF17DA;
            cursor: pointer;
        }

        .ui-resizable-se,
        .ui-resizable-sw,
        .ui-resizable-nw,
        .ui-resizable-ne {
            background: #FFDA17;
            z-index: 100001 !important;
        }

        .ui-resizable-se {
            width: 9px;
            height: 9px;
            right: -5px;
            bottom: -5px;
        }
    */
    .ui-resizable-handle {
        position: absolute;
        display: block;
        content: "";
        background: white;
        -moz-box-shadow: inset 0px -1px 2px #000000;
        -webkit-box-shadow: inset 0px -1px 2px #000000;
        box-shadow: inset 0px -1px 2px #000000;
    }

    .ui-resizable-ne,
    .ui-resizable-nw,
    .ui-resizable-sw,
    .ui-resizable-se {
        width: 16px;
        height: 16px;
        border: 1px solid #bababa;
        border-radius: 20px;
    }

    .ui-resizable-ne {
        top: 0px;
        right: 0px;
        border-radius: 0px;
        border: 0px solid #bababa;
        border-top: 5px solid white;
        border-right: 5px solid white;
        background: transparent;
        border-style: groove;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .ui-resizable-nw {
        top: 0px;
        left: 0px;
        border-radius: 0px;
        border: 0px solid #bababa;
        border-top: 5px solid white;
        border-left: 5px solid white;
        background: transparent;
        border-style: groove;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .ui-resizable-se {
        bottom: 0px;
        right: 0px;
        border-radius: 0px;
        border: 0px solid #bababa;
        border-bottom: 5px solid white;
        border-right: 5px solid white;
        background: transparent;
        border-style: groove;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .ui-resizable-sw {
        bottom: 0px;
        left: 0px;
        border-radius: 0px;
        border: 0px solid #bababa;
        border-bottom: 5px solid white;
        border-left: 5px solid white;
        background: transparent;
        border-style: groove;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .ui-resizable-n {
        cursor: n-resize;
        top: 0px;
        left: 48%;
    }

    .ui-resizable-s {
        cursor: s-resize;
        bottom: 0px;
        left: 48%;
    }

    .ui-resizable-e {
        cursor: e-resize;
        right: 0px;
        top: 48%;
    }

    .ui-resizable-w {
        cursor: w-resize;
        left: 0px;
        top: 48%;
    }



    .ui-resizable-w, .ui-resizable-e {
        width: 5px;
        height: 16px;
        border: 1px solid #bababa;
        /*-ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);border-radius: 20px;*/
    }

    .ui-resizable-s, .ui-resizable-n {
        width: 16px;
        height: 5px;
        border: 1px solid #bababa;
        /*-ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);border-radius: 20px;*/
    }

    .ui-resizable-se,
    .ui-resizable-sw,
    .ui-resizable-nw,
    .ui-resizable-ne, .ui-resizable-w, .ui-resizable-s, .ui-resizable-e, .ui-resizable-n {
        z-index: 100001 !important;
    }
</style>
<div id="loadingPnl" style="text-align: center;
        position: fixed;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
        background: #f6f6f6f7;
        padding-top: 20%;
        color: red;
        z-index: 1030;
    ">کمی صبر کنید. در حال بارگذاری</div>
<div id="mainContainer">


    <div class="row" style="min-height: 90vh; margin-right: 0px;">

        <aside class="control-aside" style="">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" data-target="#home">عکسها</a></li>
                <li><a data-toggle="tab" data-target="#menu1">پسزمینه</a></li>
                <li><a data-toggle="tab" data-target="#menu3">کارت</a></li>
                @*<li><a data-toggle="tab" data-target="#menu3">طرح ها</a></li>*@
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    @{Html.RenderPartial("ImageUploader");}
                    <ul class="list-group" id="projectUlList">
                        @*<li class="list-group-item text-center"> عکسها <i class="glyphicon glyphicon-circle-arrow-down"></i> </li>*@
                        <li class="list-group-item text-center">

                            @foreach (var p in ((List<string>)ViewData["SlidShowImages"]))
                            {

                                <img src="@p" style="width: 50px; height: 50px; margin: 1px; z-index: 1;" class="uploadedImgs"
                                     data-trigger="hover"
                                     data-toggle="popover" data-content="" />

                            }
                        </li>
                    </ul>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <ul class="list-group" id="projectUlList">

                        <li class="list-group-item text-center">

                            <button class="btn btn-sm text-center btn-block btn-default"
                                    data-terget="mainPnl" data-action="changeBg" data-prop="background-color"
                                    style="text-shadow: white 0px 1px 1px;">
                                رنگ پسزمینه <span class="glyphicon glyphicon glyphicon-play-circle"></span>
                            </button>


                        </li>
                        <li class="list-group-item text-center">

                            <input type="range" max="1000" min="100" value="958" data-terget="mainPnl" data-action="resize" data-prop="width" />
                            <input type="range" max="500" min="100" value="448" data-terget="mainPnl" data-action="resize" data-prop="height" />

                        </li>
                    </ul>
                </div>
                <div id="menu3" class="tab-pane fade " style="padding: 5px;">

                    @*<label class="pull-left" data-label="background-position-x">0</label>
                        <input type="range" min="-0" max="100" data-prop="background-position-x" />*@

                    @*<label class="pull-left" data-label="background-position-y">0</label>
                        <input type="range" min="-0" max="100" data-prop="background-position-y" />*@

                    <div class="btn-group btn-group-justified" style="margin-top: 5px;">
                        @*<div class="btn-group">
                                <button type="button" class="btn btn-primary" data-action="fitBg" >
                                    <span class="glyphicon glyphicon-align-left"></span>استرچ
                                </button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" data-action="orginalBg">
                                    <span class="glyphicon glyphicon-align-center"></span>اندازه واقعی
                                </button>
                            </div>*@
                    </div>

                    <label data-label="currentRotate" class="pull-left" style="width:95px">چرخش : 0</label>
                    <input type="range" id="rotateBar" min="-180" max="180" step="1" style="margin-top: 0px;">



                    @*<div class="panel-group" id="accordion">

                            @{
                                var i = 1;
                                foreach (var c in ((List<CatGroupedModel>)ViewData["AllLayout"]))
                                {

                                    <div class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse_@i">
                                            <h4 class="panel-title">

                                                @c.CatName <i class="glyphicon glyphicon-circle-arrow-down"></i>

                                            </h4>
                                        </div>
                                        <div id="collapse_@i" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul class="list-group">
                                                    @foreach (var l in c.Layouts)
                                                    {
                                                        <li class="list-group-item">
                                                            <a href="/Ninjas/Home/LoadLayOut/@l.Id"> @l.Name </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    i++;
                                }
                            }
                        </div>*@


                </div>
            </div>




        </aside>

        <div class="draw-pnl">

            <div class="text-center" style="background: gray; padding: 0px 5px; text-align: left; width: 100%; z-index: 5; position: absolute;">

                <div class="pull-left">
                    <button onclick="Save()" class="btn btn-sm text-center" title="ذخیره">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>

                    <button onclick="ConvertToCanvas()" class="btn btn-sm text-center" title="خروجی عکس">
                        <span class="glyphicon glyphicon glyphicon-save-file"></span>
                    </button>
                </div>

                <button onclick="text.makeNewText()" class="btn btn-sm  btn-warning btn-round">
                    <span class="glyphicon glyphicon-plus"></span> متن
                </button>

                <div class="pull-right">

                    <button onclick="history2.undo()" class="btn btn-sm text-center" title="undo"
                            data-action="undo" disabled>
                        <span class="glyphicon  glyphicon-arrow-left"></span>
                    </button>

                    <button onclick="history2.redo()" class="btn btn-sm text-center" title="redo"
                            data-action="redo" disabled>
                        <span class="glyphicon  glyphicon-arrow-right"></span>
                    </button>

                    <div class="seperator btn"></div>

                    <button onclick="mainPnl.ZoomIn()" class="btn btn-sm text-center ">
                        <span class="glyphicon  glyphicon-zoom-in"></span>
                    </button>

                    <button onclick="mainPnl.ZoomOut()" class="btn btn-sm text-center">
                        <span class="glyphicon  glyphicon-zoom-out"></span>
                    </button>

                </div>


            </div>

            <div style="background: gray; padding: 5px; text-align: left; width: 100%;" id="mainPnl2">
                @*<div style="position: relative; top: 10px;">*@

                <div class="row" id="mainPnl"
                     style="position: absolute; overflow: hidden; background: white; width: 958px; z-index: 0; height: 448px; box-shadow: -3px 1px 35px -3px rgba(0, 0, 0, 0.75); left: 24px; top: 50px;@Model.MainPnlCss">
                    @Html.Raw(Model.HtmlString)
                </div>

                @*</div>*@
            </div>

        </div>

    </div>



</div>


<!--project name Modal -->
<div id="projectNameModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">  &nbsp;</h4>
            </div>
            <div class="modal-body">
                <label for="projName">نام پروژه </label>
                <input type="text" id="projName" class="form-control" />
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary " id="changeProjectNameAndSave">انجام</button>
                <button type="button" class="btn btn-default " data-dismiss="modal">انصراف</button>

            </div>
        </div>

    </div>
</div>


<!--label text Modal -->
<div id="labelTextModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">  &nbsp;</h4>
            </div>
            <div class="modal-body">
                متن:
                <input type="text" id="labelTextInput" class="form-control" style="direction: rtl;" />
                <hr />
                <button class="btn btn-md text-center btn-block btn-default" id="fontColorBtn" style="text-shadow: white 0px 1px 1px;">
                    رنگ متن <span class="glyphicon glyphicon-play-circle"></span>
                </button>

                <button class="btn btn-md text-center btn-block btn-default" id="bgColorBtn" style="text-shadow: white 0px 1px 1px;">
                    رنگ پسزمینه <span class="glyphicon glyphicon-play-circle"></span>
                </button>

                <button class="btn btn-md text-center btn-block btn-default" id="fontSizeBtn" style="text-shadow: white 0px 1px 1px;">
                    اندازه فونت متن <span class="glyphicon glyphicon-play-circle"></span>
                </button>


                <div class="btn-group btn-group-justified" style="margin-top: 5px;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-prop="text-align" data-value="left">
                            <span class="glyphicon glyphicon-align-left"></span>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-prop="text-align" data-value="center">
                            <span class="glyphicon glyphicon-align-center"></span>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-prop="text-align" data-value="right">
                            <span class="glyphicon glyphicon-align-right"></span>
                        </button>
                    </div>
                </div>



            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-success" id="labelTextChangeBtn">انجام</button>
                <button type="button" class="btn btn-default " data-dismiss="modal">انصراف</button>

            </div>
        </div>

    </div>
</div>


<div id="imagesDiv" style="display:none;position:fixed;z-index:1111;width: 324px;">


    <div class="col-lg-12" style="background:white;border:2px solid;padding:5px; text-align: center;">
        <button onclick="common.bringFront()" class="btn btn-sm text-center no-radius">
            <span class="glyphicon  glyphicon glyphicon-oil"></span>
            <br />   به جلو
        </button>
        <button onclick="common.sendToBack()" class="btn btn-sm text-center ">
            <span class="glyphicon glyphicon-sort-by-attributes"></span>
            <br />   به عقب
        </button>
        <button onclick="common.remove()" class="btn btn-sm text-center ">
            <span class="glyphicon  glyphicon-trash"></span>
            <br /> حذف
        </button>

    </div>
    <div class="col-lg-12" style="padding: 3px 0 0 0;">

        <label class="pull-left badge" data-label="background-size">زوم :100</label>
        <input type="range" min="100" max="250" step="1" value="100" data-prop='background-size' class="pull-right" style="margin:0 0 0 0;width: 250px;">

        @*<label id="currentRotate" class="pull-left" style="width: 35px">0</label>
            <input type="range" id="rotateBar" min="-180" max="180" step="1" style="width: 250px; margin-top: 0px;">*@


    </div>


</div>


<section id="" style="display:none">
    <ul class="colors-page"><li class="color glyphicon glyphicon-ban-circle" data-font-color="#000000" style="background-color:rgba(0,0,0,0)"></li><li class="color" data-font-color="#000000" style="background-color:#000000"></li><li class="color" data-font-color="#FFFFFF" style="background-color:#FFFFFF"></li><li class="color" data-font-color="#DCD7D7" style="background-color:#DCD7D7"></li><li class="color" data-font-color="#C8C8C8" style="background-color:#C8C8C8"></li><li class="color" data-font-color="#B4AFAF" style="background-color:#B4AFAF"></li><li class="color" data-font-color="#9B9B9B" style="background-color:#9B9B9B"></li><li class="color" data-font-color="#787878" style="background-color:#787878"></li><li class="color" data-font-color="#55555A" style="background-color:#55555A"></li><li class="color" data-font-color="#3C3C41" style="background-color:#3C3C41"></li><li class="color" data-font-color="#28282D" style="background-color:#28282D"></li><li class="color" data-font-color="#D7D2C8" style="background-color:#D7D2C8"></li><li class="color" data-font-color="#C3B9AF" style="background-color:#C3B9AF"></li><li class="color" data-font-color="#AFA09B" style="background-color:#AFA09B"></li><li class="color" data-font-color="#968C82" style="background-color:#968C82"></li><li class="color" data-font-color="#87786E" style="background-color:#87786E"></li><li class="color" data-font-color="#6E645A" style="background-color:#6E645A"></li><li class="color" data-font-color="#D7D2C3" style="background-color:#D7D2C3"></li><li class="color" data-font-color="#C8B9AA" style="background-color:#C8B9AA"></li><li class="color" data-font-color="#B9AA9B" style="background-color:#B9AA9B"></li><li class="color" data-font-color="#A59682" style="background-color:#A59682"></li><li class="color" data-font-color="#7D6955" style="background-color:#7D6955"></li><li class="color" data-font-color="#64503C" style="background-color:#64503C"></li><li class="color" data-font-color="#4B3728" style="background-color:#4B3728"></li><li class="color" data-font-color="#A57D73" style="background-color:#A57D73"></li><li class="color" data-font-color="#8C695F" style="background-color:#8C695F"></li><li class="color" data-font-color="#6E4B4B" style="background-color:#6E4B4B"></li><li class="color" data-font-color="#5A3C3C" style="background-color:#5A3C3C"></li><li class="color" data-font-color="#FFB4B9" style="background-color:#FFB4B9"></li><li class="color" data-font-color="#FF8287" style="background-color:#FF8287"></li><li class="color" data-font-color="#FF5A5A" style="background-color:#FF5A5A"></li><li class="color" data-font-color="#E63C2D" style="background-color:#E63C2D"></li><li class="color active-option" data-font-color="#C33C32" style="background-color:#C33C32"></li><li class="color" data-font-color="#87322D" style="background-color:#87322D"></li><li class="color" data-font-color="#FFBECD" style="background-color:#FFBECD"></li><li class="color" data-font-color="#FF9BAF" style="background-color:#FF9BAF"></li><li class="color" data-font-color="#FF5573" style="background-color:#FF5573"></li><li class="color" data-font-color="#EB0028" style="background-color:#EB0028"></li><li class="color" data-font-color="#CD0A2D" style="background-color:#CD0A2D"></li><li class="color" data-font-color="#AA142D" style="background-color:#AA142D"></li><li class="color" data-font-color="#78232D" style="background-color:#78232D"></li><li class="color" data-font-color="#F0C8CD" style="background-color:#F0C8CD"></li><li class="color" data-font-color="#F09BAA" style="background-color:#F09BAA"></li><li class="color" data-font-color="#E6415F" style="background-color:#E6415F"></li><li class="color" data-font-color="#DC0032" style="background-color:#DC0032"></li><li class="color" data-font-color="#C3002D" style="background-color:#C3002D"></li><li class="color" data-font-color="#A51E37" style="background-color:#A51E37"></li><li class="color" data-font-color="#8C2332" style="background-color:#8C2332"></li><li class="color" data-font-color="#FFA0C8" style="background-color:#FFA0C8"></li><li class="color" data-font-color="#FA7DB4" style="background-color:#FA7DB4"></li><li class="color" data-font-color="#F55096" style="background-color:#F55096"></li><li class="color" data-font-color="#EB1E78" style="background-color:#EB1E78"></li><li class="color" data-font-color="#D70F69" style="background-color:#D70F69"></li><li class="color" data-font-color="#AF1455" style="background-color:#AF1455"></li><li class="color" data-font-color="#822346" style="background-color:#822346"></li><li class="color" data-font-color="#EBB9E6" style="background-color:#EBB9E6"></li><li class="color" data-font-color="#E19BE1" style="background-color:#E19BE1"></li><li class="color" data-font-color="#D264CD" style="background-color:#D264CD"></li><li class="color" data-font-color="#B419AA" style="background-color:#B419AA"></li><li class="color" data-font-color="#A01996" style="background-color:#A01996"></li><li class="color" data-font-color="#78236E" style="background-color:#78236E"></li><li class="color" data-font-color="#DCC3E6" style="background-color:#DCC3E6"></li><li class="color" data-font-color="#C8A5E1" style="background-color:#C8A5E1"></li><li class="color" data-font-color="#9164CD" style="background-color:#9164CD"></li><li class="color" data-font-color="#783CBE" style="background-color:#783CBE"></li><li class="color" data-font-color="#6428A0" style="background-color:#6428A0"></li><li class="color" data-font-color="#5A2D82" style="background-color:#5A2D82"></li><li class="color" data-font-color="#552D6E" style="background-color:#552D6E"></li><li class="color" data-font-color="#B9D7EB" style="background-color:#B9D7EB"></li><li class="color" data-font-color="#9BC8EB" style="background-color:#9BC8EB"></li><li class="color" data-font-color="#69B4E6" style="background-color:#69B4E6"></li><li class="color" data-font-color="#003CA5" style="background-color:#003CA5"></li><li class="color" data-font-color="#002D6E" style="background-color:#002D6E"></li><li class="color" data-font-color="#002855" style="background-color:#002855"></li><li class="color" data-font-color="#051E2D" style="background-color:#051E2D"></li><li class="color" data-font-color="#6EC3EB" style="background-color:#6EC3EB"></li><li class="color" data-font-color="#41B4E6" style="background-color:#41B4E6"></li><li class="color" data-font-color="#00A0E1" style="background-color:#00A0E1"></li><li class="color" data-font-color="#005AB9" style="background-color:#005AB9"></li><li class="color" data-font-color="#004B87" style="background-color:#004B87"></li><li class="color" data-font-color="#003C5F" style="background-color:#003C5F"></li><li class="color" data-font-color="#00283C" style="background-color:#00283C"></li><li class="color" data-font-color="#87DCE1" style="background-color:#87DCE1"></li><li class="color" data-font-color="#28C8D2" style="background-color:#28C8D2"></li><li class="color" data-font-color="#009BAA" style="background-color:#009BAA"></li><li class="color" data-font-color="#008796" style="background-color:#008796"></li><li class="color" data-font-color="#006E78" style="background-color:#006E78"></li><li class="color" data-font-color="#005F64" style="background-color:#005F64"></li><li class="color" data-font-color="#004650" style="background-color:#004650"></li><li class="color" data-font-color="#9BDCD7" style="background-color:#9BDCD7"></li><li class="color" data-font-color="#64CDC8" style="background-color:#64CDC8"></li><li class="color" data-font-color="#00AFAA" style="background-color:#00AFAA"></li><li class="color" data-font-color="#008273" style="background-color:#008273"></li><li class="color" data-font-color="#007364" style="background-color:#007364"></li><li class="color" data-font-color="#00645F" style="background-color:#00645F"></li><li class="color" data-font-color="#005A4B" style="background-color:#005A4B"></li><li class="color" data-font-color="#A5E6D7" style="background-color:#A5E6D7"></li><li class="color" data-font-color="#8CE1D2" style="background-color:#8CE1D2"></li><li class="color" data-font-color="#32D7C3" style="background-color:#32D7C3"></li><li class="color" data-font-color="#009678" style="background-color:#009678"></li><li class="color" data-font-color="#00785F" style="background-color:#00785F"></li><li class="color" data-font-color="#006450" style="background-color:#006450"></li><li class="color" data-font-color="#A0E1B9" style="background-color:#A0E1B9"></li><li class="color" data-font-color="#96E1AF" style="background-color:#96E1AF"></li><li class="color" data-font-color="#7DE1AA" style="background-color:#7DE1AA"></li><li class="color" data-font-color="#00AF41" style="background-color:#00AF41"></li><li class="color" data-font-color="#00963C" style="background-color:#00963C"></li><li class="color" data-font-color="#007832" style="background-color:#007832"></li><li class="color" data-font-color="#1E5532" style="background-color:#1E5532"></li><li class="color" data-font-color="#C3E187" style="background-color:#C3E187"></li><li class="color" data-font-color="#B9DC78" style="background-color:#B9DC78"></li><li class="color" data-font-color="#A5D75F" style="background-color:#A5D75F"></li><li class="color" data-font-color="#78BE1E" style="background-color:#78BE1E"></li><li class="color" data-font-color="#64A50A" style="background-color:#64A50A"></li><li class="color" data-font-color="#648C19" style="background-color:#648C19"></li><li class="color" data-font-color="#556423" style="background-color:#556423"></li><li class="color" data-font-color="#FFFACD" style="background-color:#FFFACD"></li><li class="color" data-font-color="#FAF5B4" style="background-color:#FAF5B4"></li><li class="color" data-font-color="#FAEB6E" style="background-color:#FAEB6E"></li><li class="color" data-font-color="#FAEB46" style="background-color:#FAEB46"></li><li class="color" data-font-color="#FFE100" style="background-color:#FFE100"></li><li class="color" data-font-color="#C8AA00" style="background-color:#C8AA00"></li><li class="color" data-font-color="#FFDC64" style="background-color:#FFDC64"></li><li class="color" data-font-color="#FFD755" style="background-color:#FFD755"></li><li class="color" data-font-color="#FFD241" style="background-color:#FFD241"></li><li class="color" data-font-color="#FFC828" style="background-color:#FFC828"></li><li class="color" data-font-color="#EBAA00" style="background-color:#EBAA00"></li><li class="color" data-font-color="#B98200" style="background-color:#B98200"></li><li class="color" data-font-color="#A0780F" style="background-color:#A0780F"></li><li class="color" data-font-color="#F5C85A" style="background-color:#F5C85A"></li><li class="color" data-font-color="#F5BE46" style="background-color:#F5BE46"></li><li class="color" data-font-color="#F5B432" style="background-color:#F5B432"></li><li class="color" data-font-color="#F58C00" style="background-color:#F58C00"></li><li class="color" data-font-color="#D77D00" style="background-color:#D77D00"></li><li class="color" data-font-color="#AA6E0F" style="background-color:#AA6E0F"></li><li class="color" data-font-color="#735A28" style="background-color:#735A28"></li><li class="color" data-font-color="#F5D2A0" style="background-color:#F5D2A0"></li><li class="color" data-font-color="#F5BE7D" style="background-color:#F5BE7D"></li><li class="color" data-font-color="#F0A055" style="background-color:#F0A055"></li><li class="color" data-font-color="#F07823" style="background-color:#F07823"></li><li class="color" data-font-color="#D25F14" style="background-color:#D25F14"></li><li class="color" data-font-color="#A55519" style="background-color:#A55519"></li><li class="color" data-font-color="#643C1E" style="background-color:#643C1E"></li><li class="color" data-font-color="#FFBEA0" style="background-color:#FFBEA0"></li><li class="color" data-font-color="#FFA06E" style="background-color:#FFA06E"></li><li class="color" data-font-color="#FF7D41" style="background-color:#FF7D41"></li><li class="color" data-font-color="#FF6919" style="background-color:#FF6919"></li><li class="color" data-font-color="#E65500" style="background-color:#E65500"></li><li class="color" data-font-color="#C35519" style="background-color:#C35519"></li><li class="color" data-font-color="#783719" style="background-color:#783719"></li></ul>

</section>


<section id="" style="display:none">
    <ul id="fontSize" style="min-height: 100px; max-height: 100px;"><li data-font-size="10">10</li><li data-font-size="11">11</li><li data-font-size="12">12</li><li data-font-size="13">13</li><li data-font-size="14">14</li><li data-font-size="15">15</li><li data-font-size="16">16</li><li data-font-size="17">17</li><li data-font-size="18">18</li><li data-font-size="19">19</li><li data-font-size="20">20</li><li data-font-size="22">22</li><li data-font-size="24">24</li><li data-font-size="26">26</li><li data-font-size="28">28</li><li data-font-size="30" class="active-option">30</li><li data-font-size="33">33</li></ul>
</section>
